/***************** 
Normalize + Typography + Styles
******************/

@import url("https://rsms.me/inter/inter.css");
:root {
  --primary: #030023;
  --gradient: linear-gradient(180deg, rgba(0, 255, 136, 0.61) 0%, #0700b8 100%);
}
@counter-style countries {
  system: fixed;
  symbols: "\01F1FA\01F1F8""\01F1E7\01F1F7""\01F1EC\01F1E7""\01F1EB\01F1F7""\01F1F3\01F1EC""\01F1EA\01F1F8";
  suffix: " ";
}
html,
* {
  box-sizing: border-box;
}
div#input,
body,
section,
main,
footer {
  display: flex;
}
body {
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Inter";
  color: var(--primary);
  background: var(--gradient);
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
}
ul {
  list-style: countries;
}

ul#rules,
ol {
  max-width: 800px;
  min-width: 200px;
  list-style-type: none;
  padding: 0;
  display: inline-block;
}
ul#rules li,
ol li {
  font-size: 5vmin;
  line-height: 140%;
}
ul li {
  margin: 0 0 2rem 0;
  padding-left: 2rem;
  font-size: 5vmin;
}
ol span,
ul span {
  font-weight: 700;
}
h2 span {
  font-size: 20vmin;
}
.primary {
  background-color: var(--primary);
  border: none;
  color: white;
}
.secondary {
  background-color: transparent;
  border: 1px solid var(--primary);
  color: var(--primary);
}

.primary,
.secondary {
  font-size: 3vmin;
  border-radius: 5px;
  min-width: 40vmin;
  height: 11vmin;
  margin: 1rem;
}
h2 {
  font-size: 5vmin;
  text-align: center;
}

h2#feedback {
  display: none;
  margin: 1rem 0 1rem 0;
}

h2#title {
  margin: 1rem 0 1rem 0;
}
h1 {
  font-size: 10vmin;
  margin: 0;
}
h1#artist__name {
  font-size: 10vmin;
  text-align: center;
}
h1#countdown {
  font-weight: 700;
  font-size: 50vmin;
  margin: 0;
  line-height: 1;
  display: none;
}
iframe {
  margin: 1rem;
}
section {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div#input {
  display: none;
  justify-content: space-evenly;
}

p {
  font-size: 5vmin;
  margin: 1rem 2rem 1rem 2rem;
}

p:hover {
  cursor: pointer;
}

footer {
  align-items: center;
  justify-content: center;
  position: bottom;
}
